.card-body {
  font-family: "Poppins", sans-serif;
}
.cities {
  font-weight: bold;
}
#icon {
  height: 150px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  text-transform: capitalize;
}

.sun-small {
  font-size: 50px;
  color: orange;
}
.weather-temp {
  list-style: none;
}
.temperature {
  font-size: 75px;
  font-weight: normal;
  position: relative;
  left: -20px;
}

.temp-sign,
.temp-active {
  font-size: 20px;
  position: relative;
  text-decoration: none;
  top: -35px;
  left: -20px;
}

#description {
  text-align: left;
  font-weight: normal;
}

.next-five-days {
  text-align: left;
  font-weight: 900;
}
.cloud-small {
  font-size: 50px;
  color: grey;
}
.rain-small {
  font-size: 50px;
}
.snow-small {
  font-size: 50px;
  color: #00a3d2;
}
.author-code {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin: 350px;
}
.temp-sign {
  color: black;
  font-weight: normal;
  cursor: default;
}
.temp-sign:hover {
  text-decoration: none;
}
.weather-forecast-day {
  font-size: 15px;
}
.weather-forecast-temperatures {
  font-size: 15px;
}
.weather-forecast-temp-min {
  opacity: 0.5;
}
